fastapi
uvicorn
sahi
ultralytics
opencv-python
numpy
scipy
torch>=1.8.0
pillow
requests
shapely
pyyaml
fire
terminaltables
tqdm
pybboxes
typing-extensions
pydantic
starlette
h11
click
python-multipart
